@charset "UTF-8";
.xct-header {
  position:fixed;
  top:0;
  z-index:5;
  width:100%;
  border-bottom:solid 1px $color-border;
  background:#fff;
  background:rgba(255,255,255,.9)
}
.header-logo {
  width:17%;
  margin-top:11px;
  font-size:32px;
  color:#333
}
.header-title {
  width:54%;
  .it {
    float:left;
    width:19%;
    line-height:-7+$nav-height;
    a, span {
      display:block;
      text-align:center
    }
    a {
      padding:0 16px;
      color:$color-title
    }
    span {
      font-size:16px
    }
    &.active {
      span {
        border-bottom:solid 6px $color-theme;
        position:relative;
        top:1px
      }
    }
  }
}
.header-right {
  width:29%;
  line-height:-1+$nav-height
}
.header-reg {
  text-align:right;
  a {
    margin-left:13px;
    padding:7px 13px;
    color:#333
  }
  .login {
    border:solid 1px #999;
    border-radius:1px
  }
}
.header-logined {
  img {
    display:block
  }
  .username {
    line-height:-1+$nav-height;
    padding-left:10px
  }
  .btn {
    margin-top:14px;
    margin-left:20px;
    margin-right:0
  }
  .avatar {
    margin-top:17px
  }
  .out {
    margin-left:20px;
    color:#333
  }
}
