@charset "UTF-8";
img {
  max-width:100%;
}
@font-face {
  font-family:'huxiaobo-gdh';
  src: url('../font/huxiaobo-gdh.eot');
  src: url('../font/huxiaobo-gdh?#iefix') format('embedded-opentype'),
       url('../font/huxiaobo-gdh.ttf') format('truetype'),
       url('../font/huxiaobo-gdh.woff') format('woff'),
       url('../font/huxiaobo-gdh.svg#iconregular') format('svg');
}
.xct-container {
  width:70%;
  min-width:$screen-x;
  max-width:$screen-l;
  margin:0 auto
}
.xct-content {
  padding-top:60px
}
.xct-main {
  margin-top:$nav-height;
  padding-bottom:150px
}
.btn {
  width:35%;
  height:42px;
  line-height:42px;
  padding:0;
  margin-right:5%;
  text-align:center;
  color:#fff;
  background:$color-theme;
  border-color:$color-theme;
  font-size:18px;
  letter-spacing:5px;
  text-indent:5px;
  border-radius:$radius
}
.btn.btn-s {
  width:auto;
  height:38px;
  line-height:38px;
  padding:0 10px;
  font-size:14px;
  letter-spacing:0
}
.btn-link {
  padding:10px 25px;
  font-size:14px;
  color:#4b89dc;
  border:solid 1px #4b89dc;
  border-radius:$radius
}
.avatar {
  border-radius:$radius-round;
  overflow:hidden
}
.avatar-s {
  width:$avatar-s;
  height:$avatar-s
}
a.link {
  color:$a-link
}
#subnav {
  position:absolute;
  margin-left:-90px;
  padding-top:60px;
  z-index:5;
  .it {
    padding-bottom:20px;
    a {
      display:block;
      padding:0 10px
    }
    span {
      display:block;
      width:6px;
      height:68px;
      background-color:#d9d9d9;
      border-radius:$radius;
      opacity:.9;
      @include transition(all, .3s, ease-in-out)
    }
    &.active span, a:hover span {
      background-color:$color-theme
    }
  }
}