@charset "UTF-8";
.xct-pages {
  a, span {
    float:left;
    height:34px;
    line-height:34px;
    margin-left:5px;
    display:inline;
  }
  a {
    border:solid 1px $color-border;
    border-radius:$radius
  }
  a:hover, a.active {
    color:#fff;
    border-color:$color-theme;
    background:$color-theme
  }
  a.page, a.ellipsis {
    width:34px;
    text-align:center;
  }
  a.ellipsis {
    color:#333;
    border-color:#fff;
    background:#fff;
    cursor:default
  }
  a.ellipsis:hover {
    border-color:#fff
  }
  a.pre {
    padding:0 9px 0 23px
  }
  a.next {
    padding:0 23px 0 9px
  }
  a.pre.disabled, a.next.disabled {
    color:$color-tips
  }
  a.pre.disabled:hover, a.next.disabled:hover {
    color:$color-tips;
    border-color:$color-border;
    background:#fff
  }
  a.comfirm {
    padding:0 14px
  }
  span {
    color:$color-tips
  }
  span, .comfirm {
    margin-left:10px
  }
  span.jump {
    input {
      width:34px;
      height:34px;
      line-height:34px;
      margin:0 5px;
      text-align:center;
      border:solid 1px $color-border;
      outline:none
    }
  }
}
.xct-pages {
  .pagination {
    a, span {
      display:block;
      width:34px;
      height:34px;
      line-height:34px;
      text-align:center;
      border-radius:$radius;
      color:#333
    }
    li.active span,li:hover a {
      background:$color-theme;
      color:#fff
    }
  }
}
