$color-f: #fff;
$color-title: #333;
$color-sub: #666;
$color-tips: #999;
$color-border: #ddd;
$color-bg: #f6f6f6;
$color-theme:#f45738;
$color-theme-r: #db4453;
$color-theme-g: #36bc9b;
$color-theme-b: #2684fc;
$color-theme-y: #f6bb43;
$color-error: #ff3919;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;

$height-input: 30px;
$height-header: 40px;

$avatar-m: 50px;
$avatar-s: 35px;
$point: 5px;

$radius-round: 50%;
$radius: 3px;

$nav-height: 80px;
$banner-height: 567px;

$screen-x: 1000px;
$screen-l: 1400px;
$screen-max: 1400px;

$avatar-s: 36px;

$a-link:#0088cc