body {
  background:#f1f3f6
}
.xct-404 {
  position:absolute;
  top:50%;
  right:0;
  left:0;
  margin-top:-195px
}
.icon-404 {
  margin-bottom:50px
}
.btn-b {
  margin-top:50px
}
.tips {
  line-height:25px;
  font-size:15px;
  color:$color-tips;
  text-align:center
}
