@charset "UTF-8";
.icon {
  display:inline-block;
  background-repeat:no-repeat;
  background-size:100%
}
.icon-back, .icon-next {
  width:8px;
  height:14px;
  background-image:url('../../images/icon/icon_back.png')
}
.icon-next {
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:.8
}
.icon-phone {
  width:14px;
  height:20px;
  background-image:url('../../images/icon/icon_phone.png')
}
.icon-pw {
  width:16px;
  height:20px;
  background-image:url('../../images/icon/icon_password.png')
}
.icon-captcha {
  width:17px;
  height:20px;
  background-image:url('../../images/icon/icon_captcha.png')
}
.icon-show {
  width:18px;
  height:16px;
  background-image:url('../../images/icon/icon_show.png');
  @include transition(all, .3s, ease)
}
.icon-show.active {
  background-image:url('../../images/icon/icon_hide.png')
}
.icon-fresh {
  width:15px;
  height:16px;
  background-image:url('../../images/icon/icon_fresh.png')
}
.icon-clear {
  width:16px;
  height:16px;
  background-image:url('../../images/icon/icon_clear.png')
}
.icon-code {
  width:17px;
  height:20px;
  background-image:url('../../images/icon/icon_code.png')
}
.icon-user {
  width:16px;
  height:20px;
  background-image:url('../../images/icon/icon_user.png')
}
.icon-checkbox {
  width:16px;
  height:16px;
  background-image:url('../../images/icon/icon_checkbox.png');
}
.checkbox:checked + .icon-checkbox {
  background-image:url('../../images/icon/icon_checked.png');
}
.icon-c {
  width:19px;
  height:16px;
  background-image:url('../../images/icon/icon_c.png');
  &.active {
    background-image:url('../../images/icon/icon_ca.png')
  }
}
.icon-s {
  width:19px;
  height:17px;
  background-image:url('../../images/icon/icon_s.png');
  &.active {
    background-image:url('../../images/icon/icon_sa.png')
  }
}
.icon-n {
  width:19px;
  height:17px;
  background-image:url('../../images/icon/icon_n.png');
  &.active {
    background-image:url('../../images/icon/icon_na.png')
  }
}
.icon-p {
  width:16px;
  height:16px;
  background-image:url('../../images/icon/icon_p.png');
  &.active {
    background-image:url('../../images/icon/icon_pa.png')
  }
}
.icon-empty {
  width:162px;
  height:130px;
  background-image:url('../../images/common/empty.png')
}
.icon-g {
  width:15px;
  height:13px;
  background-image:url('../../images/icon/icon_great.png')
}
.icon-teacher {
  width:8px;
  height:10px;
  background-image:url('../../images/icon/icon_teacher.png')
}
.icon-z {
  width:8px;
  height:5px;
  background-image:url('../../images/icon/icon_z.png')
}
.icon-bref {
  width:13px;
  height:14px;
  background-image:url('../../images/icon/icon_bref.png')
}
.icon-t {
  width:15px;
  height:14px;
  background-image:url('../../images/icon/icon_t.png')
}
.icon-intro {
  width:14px;
  height:14px;
  background-image:url('../../images/icon/icon_intro.png')
}
.icon-comment {
  width:16px;
  height:14px;
  background-image:url('../../images/icon/icon_comment.png')
}
.icon-like, .icon-liked {
  width:14px;
  height:13px;
  background-image:url('../../images/icon/icon_like.png')
}
.icon-like.active, .icon-liked {
  background-image:url('../../images/icon/icon_liked.png')
}
.icon-404 {
  display:block;
  width:240px;
  height:193px;
  margin:0 auto;
  background-image:url('../../images/common/404.png')
}
