$color-f: #fff;
$color-title: #333;
$color-sub: #666;
$color-tips: #888;
$color-border: #ddd;
$color-bg: #f1f1f1;
$color-theme:#374760;
$color-error: #ff3919;
$color-btn-theme: #30789a;
$color-txt-theme:#30789a;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;

$height-input: 30px;
$height-header: 40px;

$avatar-m: 50px;
$avatar-s: 35px;
$point: 5px;

$radius-round: 50%;
$radius-arc: 30px;
$radius: 3px;

$nav-height: 80px;
$banner-height: 567px;

$screen-x: 1000px;
$screen-l: 1400px;
$screen-max: 1400px;

$avatar-s: 36px;

$a-link:#0088cc